.container__subtitle {
  color: black;
}

.container__subtitle{
  // margin: 10px 100px;
  margin-left: 5%;
  width: 90%;
  font-size: 1.2lvw;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
}

