<div class="container__search-bar">
  <div class="search-bar__content">
    <div class="search-bar__left">
      <ul>
        <li>Engineering</li>
        <li>/</li>
        <li>Product</li>
        <li>/</li>
        <li>Security</li>
        <li>/</li>
        <li>Open Source</li>
        <li>/</li>
        <li>Enterprise</li>
        <li>/</li>
        <li>Policy</li>
        <li>/</li>
        <li>Education</li>
        <li>/</li>
        <li>Community</li>
        <li>/</li>
        <li>Company</li>
      </ul>
    </div>
    <div class="search-bar__right">
      <form class="search-form">
        <mat-form-field class="search-field">
          <input matInput placeholder="search" type="text">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="search-bar__separator">
    <hr>
  </div>
</div>
