<app-menu-title></app-menu-title>
<app-search-bar></app-search-bar>
<app-subtitle></app-subtitle>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="{{data[0].id}}"
      photoCover="{{data[0].photo}}"
      cardTags="{{data[0].tags}}"
      cardTitle="{{data[0].title}}"></app-big-card>
  </div>
  <div class="articles__others__left">
    <app-small-card
      Id="{{data[1].id}}"
      photoCover="{{data[1].photo}}"
      cardTitle="{{data[1].title}}"></app-small-card>
    <app-small-card
      Id="{{data[2].id}}"
      photoCover="{{data[2].photo}}"
      cardTitle="{{data[2].title}}"></app-small-card>
    <app-small-card
      Id="{{data[3].id}}"
      photoCover="{{data[3].photo}}"
      cardTitle="{{data[3].title}}"></app-small-card>
  </div>
  <div class="articles__others__right">
    <app-small-card
      Id="{{data[3].id}}"
      photoCover="{{data[3].photo}}"
      cardTitle="{{data[3].title}}"></app-small-card>
    <app-small-card
      Id="{{data[2].id}}"
      photoCover="{{data[2].photo}}"
      cardTitle="{{data[2].title}}"></app-small-card>
    <app-small-card
      Id="{{data[1].id}}"
      photoCover="{{data[1].photo}}"
      cardTitle="{{data[1].title}}"></app-small-card>
  </div>
</div>
